
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><center><%= i18n_t("disclaimer.welcome") %></center></h3>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><center><%= i18n_t("disclaimer.warning.title") %></center></h3>
            </div>
            <div class="panel-body">
              <%= partial 'cap/disclaimer_warning', :engine => :asciidoc %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <center>
            <%== recaptcha_tag :challenge, :display => {:theme => 'white'} %>
          </center>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-warning">
            <div class="panel-heading" style="text-align:center">
              <%= i18n_t("disclaimer.terms.message") %> <a href="#" data-toggle="modal" data-target="#userTermsModal"><strong><%= i18n_t("disclaimer.terms.link") %></strong></a>.
            </div>
            <div class="panel-body" style="text-align:center">
              <div class="col-xs-6"><button type="button" class="btn btn-primary btn-lg btn-block"><%= i18n_t("disclaimer.terms.buttons.continue") %></button></div>
              <div class="col-xs-6"><button type="button" class="btn btn-danger btn-lg btn-block"><%= i18n_t("disclaimer.terms.buttons.cancel") %></button></div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userTermsModal" tabindex="-1" role="dialog" aria-labelledby="userTermsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="userTermsModalLabel">Condiciones de Uso</h4>
          </div>
          <div class="modal-body">
            <%= partial 'cap/disclaimer_user_terms', :engine => :asciidoc %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
