
  <% content_for :bootstrap_css_extras do %>
    <%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>
  <% end %>

  <% content_for :bootstrap_js_extras do %>
    <%= javascript_include_tag 'moment.min' %>
    <%= javascript_include_tag 'bootstrap-datetimepicker.min' %>
  <% end %>

  <% content_for :prgov_cap_js do %>
    <% # javascript_include_tag 'prgov-cap-form' %>
    <%= javascript_include_tag 'prgov-cap-form2' %>
  <% end %>

    <div class="container">
      <h3><center><%= i18n_t("header.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <di2v class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              90%
            </div>
          </div>
      </div>
      <div class="row">
        <form class="form" role="form" id="certificado" name="certificado" action="/complete"  method="post">

          <!-- CITIZEN INFORMATION-->
          <div class="row">
            <div class="col-sm-12">


             <!-- Display any potential Errors -->
              <% if params[:errors] == "true"  %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <ul>
                      <% if params[:name] == "false" %>
                        <li><strong><%= i18n_t("error.form.name") %></strong></li>
                      <% end %>
                      <% if params[:last_name] == "false" %>
                        <li><strong><%= i18n_t("error.form.last_name") %></strong></li>
                      <% end %>
                      <% if params[:mother_last_name] == "false" %>
                        <li><strong><%= i18n_t("error.form.mother_last_name") %></strong></li>
                      <% end %>
                      <% if params[:birthdate] == "false" %>
                        <li><strong><%= i18n_t("error.form.birthdate") %></strong></li>
                      <% end %>
                      <% if params[:residency_country] == "false" %>
                        <li><strong><%= i18n_t("error.form.residency_country") %></strong></li>
                      <% end %>
                      <% if params[:residency_city] == "false" %>
                        <li><strong><%= i18n_t("error.form.residency_city") %></strong></li>
                      <% end %>
                      <% if params[:residency_state] == "false" %>
                        <li><strong><%= i18n_t("error.form.residency_state") %></strong></li>
                      <% end %>
                      <% if params[:purpose] == "false" %>
                        <li><strong><%= i18n_t("error.form.purpose") %></strong></li>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- End of Errors -->

              <!-- CITIZEN INFORMATION PANEL -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center"><%= i18n_t("form.panel.citizen.title") %></h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group <% if(params[:name] == "false")%> has-error <% end %> col-sm-3">
                      <label for="name" class="control-label"><%= i18n_t("form.panel.citizen.name.label") %></label>
                      <input type="text" class="form-control" id="name" name="name" maxlength="50" value="<%= session[:name].to_s %>" placeholder="<%= i18n_t("form.panel.citizen.name.placeholder") %>">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-2">
                      <label for="name_initial" class="control-label"><%= i18n_t("form.panel.citizen.name_initial.label") %></label>
                      <input type="text" class="form-control" id="name_initial" name="name_initial" maxlength="1" value="<%= session[:name_initial].to_s %>" placeholder="<%= i18n_t("form.panel.citizen.name_initial.placeholder") %>">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-3 <% if(params[:last_name] == "false")%> has-error <% end %>">
                      <label for="last_name" class="control-label"><%= i18n_t("form.panel.citizen.lastname_first.label") %></label>
                      <input type="text" class="form-control" id="last_name" name="last_name" maxlength="50" value="<%= session[:last_name].to_s %>" placeholder="<%= i18n_t("form.panel.citizen.lastname_first.placeholder") %>">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-3 <% if(params[:mother_last_name] == "false")%> has-error <% end %>">
                      <label for="mother_last_name" class="control-label"><%= i18n_t("form.panel.citizen.lastname_second.label") %></label>
                      <input type="text" class="form-control" id="mother_last_name" name="mother_last_name" maxlength="50" value="<%= session[:mother_last_name].to_s %>" placeholder="<%= i18n_t("form.panel.citizen.lastname_second.placeholder") %>">
                    </div><!-- /.form-group -->
                  </div><!-- /.row -->
                  <div class="row">
                    <div class="form-group col-sm-3 <% if(params[:birthdate] == "false")%> has-error <% end %>">
                      <label for="birthdate" class="control-label"><%= i18n_t("form.panel.citizen.birthdate.label") %></label>
                      <div class="input-group date" id="birthdate-datetimepicker">
                        <!-- <input type="text" class="form-control" id="birthdate" name="birthdate" maxlength="10" value="<%= session[:birthdate].to_s.html_safe %>" data-date-format="<%= i18n_t("form.panel.citizen.birthdate.format") %>" placeholder="<%= i18n_t("form.panel.citizen.birthdate.placeholder") %>"/> -->
                        <!--
                            We know the date in english is generally formatted in mm/dd/yyyy except mostly in the military
                            but we chose to use dd/mm/yyyy to quicken development time and validations by using the same algorithm
                            for both spanish and enligsh. We noticed most users simply used the date-picker
                            rather than type the date, which made this mostly a non-issue. We could revisit this in the future.
                        -->
                        <input type="text" class="form-control" id="birthdate" name="birthdate" maxlength="10"
                               value="<%= session[:birthdate].to_s.html_safe %>" data-date-format="DD/MM/YYYY"
                               placeholder="DD/MM/YYYY" data-date-language="<%= I18n.locale.to_s%>"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-9">
                      <label for="residence_country" class="control-label"><%= i18n_t("form.panel.citizen.residence.label") %></label>
                      <div class="row">
                        <div class="col-sm-6 <% if(params[:residency_country] == "false")%> has-error <% end %>">
                          <select class="form-control" id="residence_country" name="residency_country">
                            <option value="" disabled>País</option>
                            <!-- <option value="00000">UNKNOWN</option> -->
                            <!-- <option value="00179" selected>PUERTO RICO</option>e
                            <option value="00003" >AFGHANISTAN</option> -->
                            <% PRgovCAPWebApp::App.settings.country_codes.each do |code, name| %>
                              <% if session[:residency_country].to_s == code  %>
                                <option value="<%= code %>" selected><%= name %></option>
                              <% else %>
                                <option value="<%= code %>"><%= name %></option>
                              <% end %>
                            <% end %>
                          </select>
                        </div><!-- /.col-sm -->
                        <div class="col-sm-6 <% if(params[:residency_state] == "false" or params[:residency_city] == "false") %> has-error <% end %>" id="residence_state">

                          <select class="form-control <% if session[:residency_country].to_s != "PR" %> hidden <% end %>" id="residence_city_select" name="residency_city">
                            <option value="" disabled selected><%= i18n_t("form.panel.citizen.residence.labels.municipality") %></option>
                              <% PRgovCAPWebApp::App.settings.pr_municipalities.each do |code, name| %>
                                  <% if session[:residency_city].to_s == code  %>
                                    <option value="<%= code %>" selected><%= name %></option>
                                  <% else %>
                                    <option value="<%= code %>"><%= name %></option>
                                  <% end %>
                              <% end %>
                          </select>

                          <select class="form-control <% if session[:residency_country].to_s != "US" %> hidden <% end %> " id="residence_state_select" name="residency_state">
                            <option value="" disabled selected><%= i18n_t("form.panel.citizen.residence.labels.state") %></option>
                              <% PRgovCAPWebApp::App.settings.usa_states.each do |code, name| %>
                                  <% if session[:residency_state].to_s == code  %>
                                    <option value="<%= code %>" selected><%= name %></option>
                                  <% else %>
                                    <option value="<%= code %>"><%= name %></option>
                                  <% end %>
                              <% end %>
                          </select>

                        </div><!-- /.col-sm -->

                        </div><!-- /.col-sm -->
                      </div><!-- /.row -->
                    </div><!-- /.form-group -->
                  </div><!-- /.row -->
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
              <!-- /CITIZEN INFORMATION PANEL -->
            </div><!-- /.col-sm -->
          </div><!-- /.row -->
          <!-- /CITIZEN INFORMATION -->

          <!-- PURPOSE -->
          <div class="row">
            <div class="col-sm-12">
              <!-- PURPOSE PANEL -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= i18n_t("form.panel.purpose.title") %></h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <div class="form-group col-sm-12 <% if(params[:purpose] == "false")%> has-error <% end %>">
                      <label for="purpose" class="control-label"><%= i18n_t("form.panel.purpose.certificate_purpose.label") %></label>
                      <select class="form-control" id="purpose" name="purpose">
                        <option value="" disabled selected><%= i18n_t("form.panel.purpose.placeholder") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.1") %>"><%= i18n_t("form.panel.purpose.options.1") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.2") %>"><%= i18n_t("form.panel.purpose.options.2") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.3") %>"><%= i18n_t("form.panel.purpose.options.3") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.4") %>"><%= i18n_t("form.panel.purpose.options.4") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.5") %>"><%= i18n_t("form.panel.purpose.options.5") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.6") %>"><%= i18n_t("form.panel.purpose.options.6") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.7") %>"><%= i18n_t("form.panel.purpose.options.7") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.8") %>"><%= i18n_t("form.panel.purpose.options.8") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.9") %>"><%= i18n_t("form.panel.purpose.options.9") %></option>
                        <option value="<%= i18n_t("form.panel.purpose.options.10") %>"><%= i18n_t("form.panel.purpose.options.10") %></option>
                      </select>
                    </div><!-- /.form-group -->
                  </div><!-- /.row -->
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
              <!-- /PURPOSE PANEL -->
            </div><!-- /.col-sm -->
          </div><!-- /.row -->
          <!-- /PURPOSE -->


          <!-- SUBMIT BUTTON -->
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-default btn-lg btn-block"><%= i18n_t("form.button.submit") %></button>
            </div>
            <div class="col-sm-3"></div>
          </div>
          <!-- /SUBMIT BUTTON -->

        </form><!-- /.form -->
      </div><!-- /.row -->
    </div><!-- /.container -->
