
    <%= javascript_include_tag 'prgov-cap-form1' %>

    <div class="container">
      <h3><center><%= i18n_t("header.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <di2v class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
              80%
            </div>
          </div>
      </div>
      <div class="row">
          <!-- IDENTIFICATION AND PURPOSE -->
            <div class="col-sm-12">
             <!-- Display any potential Errors -->
              <% if params[:errors] == "true"  %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <ul>
                      <% if params[:invalid_form] == "true" %>
                        <li><strong><%= i18n_t("error.form.invalid_form") %></strong></li>
                      <% end %>
                      <% if params[:license] == "false" %>
                        <li><strong><%= i18n_t("error.form.license") %></strong></li>
                      <% end %>
                      <% if params[:ssn] == "false" %>
                        <li><strong><%= i18n_t("error.form.ssn") %></strong></li>
                      <% end %>
                      <% if params[:passport] == "false" %>
                        <li><strong><%= i18n_t("error.form.passport") %></strong></li>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- End of Errors -->
              <!-- IDENTIFICATION PANEL -->
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h3 class="panel-title">
                    <i class="glyphicon glyphicon-lock icon-4x"></i>
                    <%= i18n_t("form.panel.id.title") %>
                  </h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <!-- Form to select id type -->
                    <div class="form-group col-sm-12">
                      <!-- Select a form menu -->
                      <!-- this data is never actually sent to the server -->
                      <!-- we use it at the client-side to determine the -->
                      <!-- form they're going to use. -->
                      <form class="form" role="form" id="option" name="option" action="#">
                        <label class="control-label"><%= i18n_t("form.panel.id.label") %></label>
                        <select class="form-control">

                          <% if form == "license" %>
                            <option value="license" selected><%= i18n_t("form.panel.id.dtop.license.title") %></option>
                          <% else %>
                            <option value="license"><%= i18n_t("form.panel.id.dtop.license.title") %></option>
                          <% end %>
                          <% if form == "dtop" %>
                            <option value="dtop" selected><%= i18n_t("form.panel.id.dtop.id.title") %></option>
                          <% else %>
                            <option value="dtop"><%= i18n_t("form.panel.id.dtop.id.title") %></option>
                          <% end %>
                          <% if form == "passport" %>
                            <option value="passport" selected><%= i18n_t("form.panel.id.passport.title") %></option>
                          <% else %>
                            <option value="passport"><%= i18n_t("form.panel.id.passport.title") %></option>
                          <% end %>
                        </select>
                      </form>
                    </div>
                  </div>

                  <!-- DTOP LICENSE FORM -->
                  <form class="form" role="form" id="license" name="license" action="/form2"  method="post">
                    <div class="row">
                      <div class="col-sm-3">
                        <!-- Imagen de la Licencia -->
                          <%= image_tag("license_by_paomedia_creative_commons.png",
                                {:class => 'img-responsive identification',
                                 :alt => 'icono representando una licencia de conducir'}
                                 ) %>
                                 <br/>
                      </div>
                      <!-- Form Column -->
                      <div class="col-sm-9">
                        <!-- Dtop License input -->
                        <div class="form-group col-sm-12 <% if(params[:license] == "false")%> has-error <% end %>">
                          <label for="dtop_id" class="control-label"><%= i18n_t("form.panel.id.dtop.license.label") %></label>
                          <%
                          # If there is ever a need to add more length to dtop, simply modify all form's maxlength for dtop_id.
                          # No need to modify the validation backend as it currently allows up to 999Million,
                          # while dtop is currently limiting itself to 9 million.
                          %>
                          <input type="text" class="form-control" id="dtop_id" name="dtop_id" value="<%= session[:dtop_id].to_s %>" maxlength="7" placeholder="<%= i18n_t("form.panel.id.dtop.license.placeholder") %>" style="margin-bottom: 8px;">
                        </div>
                        <div class="form-group col-sm-12 <% if(params[:ssn] == "false")%> has-error <% end %>">
                          <label for="ssn" class="control-label"><%= i18n_t("form.panel.id.ssn.label") %></label>
                          <input type="text" class="form-control" name="ssn" maxlength="11" value="<%= session[:ssn].to_s %>" id="ssn" placeholder="<%= i18n_t("form.panel.id.ssn.placeholder") %>">
                          <span id="helpBlock" class="help-block"><%= i18n_t("form.panel.id.ssn.help") %></span>
                          <input type="hidden" name="form" value="license">
                        </div><!-- /.form-group -->
                      </div>
                        <!-- End of Dtop input -->
                    </div>
                  </form> <!-- End of DTOP License Form -->

                  <!-- DTOP ID FORM -->
                 <form class="form hidden" role="form" id="dtop" name="dtop" action="/form2"  method="post">
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- Imagen de la Licencia -->
                        <%= image_tag("license_by_paomedia_creative_commons.png",
                              {:class => 'img-responsive identification',
                               :alt => 'icono representando una licencia de conducir'}
                               ) %>
                               <br/>
                    </div>
                    <!-- Form Column -->
                    <div class="col-sm-9">
                      <!-- Dtop ID input -->
                      <div class="form-group col-sm-12 <% if(params[:license] == "false")%> has-error <% end %>">
                        <label for="dtop_id" class="control-label"><%= i18n_t("form.panel.id.dtop.id.label") %></label>
                        <input type="text" class="form-control" id="dtop_id" name="dtop_id" value="<%= session[:dtop_id].to_s %>" maxlength="7" placeholder="<%= i18n_t("form.panel.id.dtop.id.placeholder") %>" style="margin-bottom: 8px;">
                      </div>
                      <div class="form-group col-sm-12 <% if(params[:ssn] == "false")%> has-error <% end %>">
                        <label for="ssn" class="control-label"><%= i18n_t("form.panel.id.ssn.label") %></label>
                        <input type="text" class="form-control" id="ssn" value="<%= session[:ssn].to_s %>" name="ssn" maxlength="11" placeholder="<%= i18n_t("form.panel.id.ssn.placeholder") %>">
                        <span id="helpBlock" class="help-block"><%= i18n_t("form.panel.id.ssn.help") %></span>
                        <input type="hidden" name="form" value="dtop">
                      </div><!-- /.form-group -->
                    </div>
                      <!-- End of Dtop input -->
                  </div>
                  <!-- End of DTOP ID Form -->
                </form>

                  <!-- Passport FORM -->
                <form class="form hidden" role="form" id="passport" name="passport_form" action="/form2"  method="post">
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- Passport image -->
                        <%= image_tag("pasaporte_prgov.png",
                              {:class => 'img-responsive identification',
                               :alt => 'icono representando un pasaporte'}
                               ) %>
                               <br/>
                    </div>
                    <!-- Form Column -->
                    <div class="col-sm-9">
                      <!-- Passport input -->
                      <div class="form-group col-sm-12 <% if(params[:passport] == "false")%> has-error <% end %>">
                        <label for="passport" class="control-label"><%= i18n_t("form.panel.id.passport.label") %></label>
                        <input type="text" class="form-control" id="passport" value="<%= session[:passport].to_s %>" name="passport" maxlength="20" placeholder="<%= i18n_t("form.panel.id.passport.placeholder") %>"/>
                        <span id="helpBlock" class="help-block"><%= i18n_t("form.panel.id.passport.help") %></span>
                        <input type="hidden" name="form" value="passport">
                      </div><!-- /.form-group -->
                    </div>
                      <!-- End of Passport input -->
                  </div>
                  <!-- End of Passport Form -->
                </form>

                </div> <!-- End of Panel -->
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!-- /IDENTIFICATION PANEL -->
          </div><!-- /.col-sm -->
          <!-- SUBMIT BUTTON -->
          <div class="row">
            <div class="col-md-6">
              <a href="/cap" class="btn btn-default btn-lg btn-block"><%= i18n_t("form.button.cancel") %></a>
            </div>
            <div class="col-md-6">
                  <button id="continue" type="submit" class="btn btn-warning btn-lg btn-block"><%= i18n_t("form.button.continue") %></button>
            </div>
          </div>
          <!-- /SUBMIT BUTTON -->
        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->
