
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><center><%= i18n_t("header.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
          <br>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <span style="font-size: 30px"><%= i18n_t("info.header") %></span>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315"
            src="https://www.youtube.com/embed/f4rEu41RkUY?&rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-12" style="text-align:center">
              <span class='st_sharethis_large' displayText='ShareThis'></span>
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
              <span class='st_linkedin_large' displayText='LinkedIn'></span>
              <span class='st_pinterest_large' displayText='Pinterest'></span>
              <span class='st_email_large' displayText='Email'></span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= i18n_asciidoc("info.body") %>
            </div>
          </div>
        <br/>
          <div class="row" style="text-align:center">
            <div class="col-xs-12">
              <a class="btn btn-success btn-lg btn-block" style="font-size: 30px" href="/cap" role="button">
                <%= i18n_t("info.button.start") %>
                </a>
            </div>
          </div>

        </div>
      </div>
    </div>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "9d5ec0c1-9e80-4d55-a77e-e46a19c45206", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
