
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="hidden"><center><%= i18n_t("header.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
          <h3><center><%= i18n_t("validator.options.header") %></center></h3>
          <br>
        </div>
      </div>

        <div class="container" style="">
          <p>
            <div class="row">
              <div class="col-md-5">
                <a href="https://servicios.pr.gov/validar/cap" class="btn btn-success btn-lg btn-block" style="white-space: normal;">
                  <%= i18n_t("validator.options.button1") %>
                </a>
              </div>
              <div class="col-md-1">
                  <hr>
              </div>
              <div class="col-md-5">
                <a href="https://serviciosenlinea.gobierno.pr/validacionelectronica/" class="btn btn-warning btn-lg btn-block" style="white-space: normal;">
                  <%= i18n_t("validator.options.button2") %>
                </a>
              </div>
            </div>
          </p>
        </div>

        <div class="container" style="height: 150px;">
        </div>
    </div>
