    <% if(refresh == true) %>
      <meta http-equiv="refresh" content="3" >
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><center><%= i18n_t("validator.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
          <br>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <di2v class="progress-bar <% if completed and !failed %> progress-bar-success <% elsif failed %> progress-bar-danger <% else %> progress-bar-warning <% end %>" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
              <%= percent %>%
            </div>
          </div>
      </div>

      <div class="jumbotron">
        <div class="container">

          <% if completed and !failed %>
            <%= partial 'validate/completed', :locals => { :result => result } %>
          <% elsif failed and !completed %>
            <%= partial 'validate/failed', :locals => { :result => result } %>
          <% elsif failed and completed %>
            <%= partial 'validate/error', :locals => { :result => result } %>
          <% else %>
            <%= partial 'validate/loading', :locals => { :result => result } %>
          <% end %>

          <!-- <p><a class="btn btn-primary btn-lg" href="/validar/cap/status?id=<%= "#{params["id"]}" %>" role="button"><%= i18n_t("validator.index.button") %></a> -->
        </div>
      </div>
    </div>
