
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-prgov">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand prgov-navbar-brand" href="http://www.pr.gov"><img src="../images/logo_icon_brand.png" width="76" height="25" border="0" alt="PR.gov"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-prgov">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre Puerto Rico<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/default.aspx">Informaci&oacute;n General</a></li>
              <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/DatosGenerales.aspx">Datos Generales</a></li>
              <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/CulturaeHistoria.aspx">Cultura y Museos</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directorios<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www2.pr.gov/Directorios/Pages/DirectoriodeAgencias.aspx">Directorio de Agencias</a></li>
              <li><a href="http://www2.pr.gov/Directorios/Pages/DirectoriodeMunicipios.aspx">Directorio de Municipios</a></li>
              <li><a href="http://www2.pr.gov/Directorios/Pages/L%C3%ADneasdeAyudaparaEmergencias.aspx">L&iacute;neas de Ayuda para Emergencias</a></li>
              <li><a href="http://www.fortaleza.pr.gov/">La Fortaleza</a></li>
            </ul>
          </li>
          <li><a href="http://www2.pr.gov/GobiernoAGobierno/Pages/default.aspx">Gobierno a Gobierno</a></li>
          <li><a href="http://www2.pr.gov/Pages/empleos.aspx">Empleos</a></li>

      <!-- Language -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" style="color: #e0dfba">
              <% if I18n.locale == :en %>
                <%= i18n_t("language.english") %><b class="caret"></b></a>
              <% else %>
                <%= i18n_t("language.spanish") %><b class="caret"></b></a>
              <% end %>
            <ul class="dropdown-menu">
              <!-- Spanish -->
              <li><a onClick='switchLanguage("es")' href='#'>
                <% if request.cookies['locale'] == "es" %>
                    <strong><%= i18n_t("language.spanish") %></strong>
                <% else %>
                    <%= i18n_t("language.spanish") %>
                <% end %>
              </a></li>
              <!-- English -->
              <!-- Spanish -->
              <li><a onClick='switchLanguage("en")' href='#'>
                  <% # put language name in bold if it is selected %>
                  <% if request.cookies['locale'] == "en" %>
                    <strong><%= i18n_t("language.english") %></strong>
                  <% else %>
                    <%= i18n_t("language.english") %>
                  <% end %>
              </a></li>
            </ul>
          </li>
            <!-- <div class="dropdown dropdown-menu-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="language" data-toggle="dropdown">
                <% if request.cookies['locale'] == "es" %>
                    <strong><%= i18n_t("language.spanish") %></strong>
                <% else %>
                    <%= i18n_t("language.spanish") %>
                <% end %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="language">
                  <!-- Spanish
                  <a role="menuitem" tabindex="-1" href="#" onClick='switchLanguage("es")'>
                    <% # put language name in bold if it is selected %>
                    <% if request.cookies['locale'] == "es" %>
                      <strong><%= i18n_t("language.spanish") %></strong>
                    <% else %>
                      <%= i18n_t("language.spanish") %>
                    <% end %>
                  </a>
                </li>
                <!-- English
                <li role="language">
                  <a role="menuitem" tabindex="-1" href="#" onClick='switchLanguage("en")'>
                    <% # put language name in bold if it is selected %>
                    <% if request.cookies['locale'] == "en" %>
                      <strong><%= i18n_t("language.english") %></strong>
                    <% else %>
                      <%= i18n_t("language.english") %>
                    <% end %>
                  </a>
                </li>
              </ul> -->
            </div>
      </li>

          <!-- Language -->
    </ul>

        <!-- <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="B&uacute;squeda">
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
