
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-prgov">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand prgov-navbar-brand" href="http://www.pr.gov">
          <%= image_tag( image_path("logo_icon_brand.png"), :width => "76", :height => "25", :border => "0", :alt=> "PR.gov") %>
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="bs-navbar-collapse-prgov">
        <ul class="nav navbar-nav">
          <li><a href="https://servicios.pr.gov/cap/"><%= i18n_t("navbar.service") %></a></li>
          <li><a href="https://servicios.pr.gov/info"><%= i18n_t("navbar.about") %></a></li>
          <li><a href="https://servicios.pr.gov/app"><%= i18n_t("navbar.app") %></a></li>          
          <li><a href="https://servicios.pr.gov/validar/cap/"><%= i18n_t("navbar.validate") %></a></li>
      <!-- Language -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" style="color: #e0dfba">
              <% if I18n.locale == :en %>
                <%= i18n_t("language.english") %><b class="caret"></b></a>
              <% else %>
                <%= i18n_t("language.spanish") %><b class="caret"></b></a>
              <% end %>
            <ul class="dropdown-menu">
              <!-- Spanish -->
              <li><a onClick='switchLanguage("es")' href='#'>
                <% if request.cookies['locale'] == "es" %>
                    <strong><%= i18n_t("language.spanish") %></strong>
                <% else %>
                    <%= i18n_t("language.spanish") %>
                <% end %>
              </a></li>
              <!-- English -->
              <!-- Spanish -->
              <li><a onClick='switchLanguage("en")' href='#'>
                  <% # put language name in bold if it is selected %>
                  <% if request.cookies['locale'] == "en" %>
                    <strong><%= i18n_t("language.english") %></strong>
                  <% else %>
                    <%= i18n_t("language.english") %>
                  <% end %>
              </a></li>
            </ul>
          </li>
            </div>
      </li>

          <!-- Language -->
    </ul>

        <!-- <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="B&uacute;squeda">
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
