<!--
      ___         ___           ___           ___
     /  /\       /  /\         /  /\         /  /\          ___
    /  /::\     /  /::\       /  /:/_       /  /::\        /__/\
   /  /:/\:\   /  /:/\:\     /  /:/ /\     /  /:/\:\       \  \:\
  /  /:/~/:/  /  /:/~/:/    /  /:/_/::\   /  /:/  \:\       \  \:\
 /__/:/ /:/  /__/:/ /:/___ /__/:/__\/\:\ /__/:/ \__\:\  ___  \__\:\
 \  \:\/:/   \  \:\/:::::/ \  \:\ /~~/:/ \  \:\ /  /:/ /__/\ |  |:|
  \  \::/     \  \::/~~~~   \  \:\  /:/   \  \:\  /:/  \  \:\|  |:|
   \  \:\      \  \:\        \  \:\/:/     \  \:\/:/    \  \:\__|:|
    \  \:\      \  \:\        \  \::/       \  \::/      \__\::::/
     \__\/       \__\/         \__\/         \__\/           ~~~~

  Now's the time to be alive to see it all happen, to be a part of it.
  That makes the blood race, and each breath is an adventure.
  
-->
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>PR.gov - Solicitud de Certificado de Antecedentes Penales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">

  <% # Repel some of the guys, let's add cross-site-request-forgery protection %>
  <% # csrf_meta_tags() %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= yield_content :bootstrap_css_extras %>
  <%= stylesheet_link_tag 'prgov' %>
  <%= yield_content :cap_css %>

  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.1.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'prgov-cap' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <%= partial 'layouts/prgov_top_navbar' %>

  <div class="header"></div>

  <div class="container navbar-container">
    <%= partial 'layouts/prgov_navbar' %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <%= partial 'layouts/prgov_footer' %>
  </div>
</body>
</html>
<!--
THE ROAD TO WISDOM

The road to wisdom? Well, it's
plain and simple to express:
Err
and err
and err again,
but less
and less
and less.
         — Piet Hein
-->
